.main {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.app{
	width: 300px;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	height: 500px;
}
