.main {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.app{
	width: 320px;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	height: 500px;
	box-shadow: rgba(0, 0, 0, 0.117647) 0px 1px 6px, rgba(0, 0, 0, 0.117647) 0px 1px 4px;
  	border-radius: 10px;
}
